html,
body {
  max-width: max-content;
  height: auto;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  background-color: #202020;
  color: #cccccc;
}

* {
  box-sizing: inherit;
}

button {
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #cccccc;
}

span,
p {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 600px;
  height: 100%;
  padding: 10px;
  background: transparent;
  overflow: hidden;
  word-break: break-word;
}

.file-input-wrapper {
  display: flex;
  align-items: center;
  gap: 5px;
}

#file-input {
  display: none;
}

.custom-file-upload,
button {
  display: inline-block;
  padding: 2px 3px;
  background-color: #3b42c2;
  color: white;
  cursor: pointer;
  border-radius: 5px;
}

.custom-file-upload:hover {
  background-color: #0056b3;
}

#file-status {
  font-size: 12px;
  color: gray;
}

#summary-output {
  border: 1px solid #ccc;
  width: 100%;
  min-height: 100px;
  white-space: pre-wrap;
}

button:disabled {
  opacity: 0.5;
}

.loading {
  width: 35px;
  --b: 6px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, #aaaaaa) content-box;
  mask: repeating-conic-gradient(#0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg),
    radial-gradient(farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b)));
  -webkit-mask: repeating-conic-gradient(#0000 0deg,
      #000 1deg 20deg,
      #0000 21deg 36deg),
    radial-gradient(farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b)));
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: load 1s infinite steps(10);
}

@keyframes load {
  to {
    transform: rotate(1turn);
  }
}